		<div class="row-fluid">
			
			<div class="col-md-6">
				<div class="info">
					<%= image_tag @advertisement.image.url(:medium), class: "ad-show" %>
					<div class="star-rating" data-score= <%= @avg_review %> ></div>
					<div class="table-responsive"></div>
						<table class="table">
							<tbody>
								<tr>
									<td><strong>Kategorija: </strong></td>
									<td><%= @advertisement.category.name %></td>
								</tr>

								<tr>
									<td><strong>Naslov: </strong></td>
									<td><%= @advertisement.title %></td>
								</tr>

								<tr>
									<td><strong>Opis: </strong></td>
									<td><%= @advertisement.body %></td>
								</tr>

								<tr>
									<td><strong>Kontakt: </strong></td>
									<td><%= @advertisement.user.email %></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div><!-- oglas -->

			<div class="col-md-6">
				<div class="recenzije">
					<h3>Recenzije</h3>
			        <% if @reviews.blank? %>
			          <h3>Trenutno nema recenzija, ostavite prvu!</h3>
			          <%= link_to "Napiši recenziju", new_advertisement_review_path(@advertisement), class: 'btn btn-danger' %>
			        <% else %>
			          <% @reviews.each do |review| %>
			            <div class="reviews">
			              <div class="star-rating" data-score= <%= review.rating %> ></div>
			              <p><%= review.comment %></p>
			            </div>
			          <% end %>
			          <br>
			          <%= link_to "Napiši recenziju", new_advertisement_review_path(@advertisement), class: 'btn btn-danger' %>
			        <% end %>
				</div>
			</div><!-- recenzije -->

		</div><!-- row -->

<br>
<%= link_to 'Nazad', advertisements_path, class: 'btn btn-default show-btn' %>

<% if user_signed_in? %>
	<% if @advertisement.user_id == current_user.id %>
		<%= link_to 'Uredi', edit_advertisement_path(@advertisement), class: 'btn btn-default' %>
		<%= link_to 'Ukloni', advertisement_path(@advertisement), method: :delete, data: { confirm: "Jeste li sigurni da želite ukloniti oglas?"}, class: 'btn btn-default' %>
	<% end %>
<% end %>


<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>