<!DOCTYPE html>
<html>
<head>
  <title>Oglasi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>


	<!-- NAVBAR -->
	<nav class="nabar navbar-default navbar-fixed-top">
		<div class="container">

			<div class="navbar-header">
				<%= link_to "Oglasi", root_path, class: "navbar-brand" %>
			</div>

			<ul class="nav navbar-nav">
				<% if user_signed_in? %>
					<li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
				<% else %>
					<li><%= link_to "Sign in", new_user_session_path %></li>
					<li><%= link_to "Sign up", new_user_registration_path %></li>
				<% end %>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<% if user_signed_in? %>
				<li><%= link_to "Predaj Oglas!", new_advertisement_path %></li>
				<% end %>
			</ul>
		</div>
	</nav>

	<!-- SIDEBAR -->
	<div id="sidebar">
		<div class="col-md-3">
			<div class="container">
				<div id="logo">
					<%= link_to root_path do %>
						<%= image_tag "oglasi.jpg" %>
					<% end %>
				</div>
			</div>
			
			<ul>
				<li id="category">Kategorije</li>
			</ul>

			<div class="btn-group-vertical btn-group-lg" role="group">
				<% Category.all.each do |category| %>
					<button type="button" class="btn btn-default">
						<%= link_to category.name, advertisements_path(category: category.name) %>
					</button>
				<% end %>
			</div>

		</div>
	</div>

	<div class="well">
		<div class="main-content"></div>
			<div class="col-md-9 col-md-offset-1">
				<div class="container">
					<%= yield %>
					<p class="notice"><%= notice %></p>
					<p class="alert"><%= alert %></p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
